*, *::before, *::after {
    box-sizing: border-box;
    font-family: Nexa;
    font-weight: 900;
    
}

body {
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(4,0,124,1) 35%, rgba(0,212,255,1) 100%)
}

.calculator-title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}


.calculator-title h1 {
    color: white;
    font-size: 4rem; 
    margin: 0;
}


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(167, 255, 236, 0.541);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.288);
}

.two-spaces {
    grid-column: span 2;
}

.two-spaces-2 {
    grid-column: span 2;
    border-bottom-right-radius: 15px;
}

.exterior {
    border-bottom-left-radius: 15px;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operation {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operation {
    color: rgba(255, 255, 255, .75);
    font-size: 2.5rem;
}

